header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

h1, h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    color: white;
    background-color: #6203C3;
    padding: 5%;
    font-size: 1em;
}

.box-list {
    display: flex;
}

body h2 {
    color: #6203C3;
    margin: 5% 0;
    font-size: 1em;
}

.box {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #6203C3;
    font-weight: bold;
    border: 3px solid #6203C3;
    box-shadow: 4px 4px 7px rgb(204, 204, 204);
    font-size: 3em;
    margin: 0 auto;
    width: 25%;
    padding: 6.5% 0;
    margin-bottom: 10%;
}

#yellow {
    background-color: #FCFF00;
}

#teal {
    background-color: #55FFC9;
}

#green {
    background-color: #A5FF01;
}


@media (min-width: 500px) {
    h1 {
        font-size: 2.5em;
    }

    body h2 {
        font-size: 1.4em;
    }
}

@media (min-width: 770px) {
    h1 {
        font-size: 3.5em;
    }
}

@media (min-width: 900px) {
    body h2 {
        font-size: 1.7em;
    }
}
